.wapper {
  background-repeat: none;
  background-size: cover;
  padding: 250px;
}

.wapper > p {
  color: gray;
}

.wapper > h3,
.wapper > button,
.wapper > p {
  font-style: italic;
}

.wapper > h3 {
  font-size: 30px;
  width: 30%;
  margin-bottom: 20px;
}

.wapper > button {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.9);
  border: none;
  padding: 10px 25px;
}
